.form-row.text > input,
.form-row.text > textarea {
   display: block;
   width: 100%;
   min-width: 0;
   box-sizing: border-box;
}

.FilterField {
   display: flex;
}

.FilterField input {
   display: block;
   flex: 1;
   min-width: 0;
}
